*$py.class
*.cover
*.egg
*.egg-info/
*.log
*.py[cod]
.cache
.coverage
.coverage.*
.eggs/
.pytest_cache/
.python-version
.venv
__pycache__/
build/
celerybeat-schedule
coverage.xml
db.sqlite3
develop-eggs/
dist/
docs/_build/
docs/source/apidocs
docs/source/changelog.md
downloads/
eggs/
htmlcov/
instance/
notes.md
sdist/
wheels/
